<!DOCTYPE html>
<html ng-app="EProc">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <link rel="stylesheet" media="all" type="text/css" href="/webjars/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="client/assets/css/main.css"/>
</head>

<body>

<main id="shell">

    <!-- logo & top level links -->
    <nav class="navbar navbar-default navbar-fixed-top" ng-include="'client/components/main/tmpl/header.html'"></nav>

    <div class="container">
        <div class="row">
            <div id="side" class="col-sm-3 col-md-3 sidebar"
                 ng-include="'client/components/main/tmpl/appMenu.html'"></div>
            <div id="content" ui-view="" class="col-sm-9 col-md-9 main"></div>
        </div>
    </div>
</main>

<script src="/webjars/jquery/2.2.4/jquery.min.js"></script>
<script src="/webjars/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="/webjars/angularjs/1.5.7/angular.min.js"></script>
<script src="/webjars/angular-animate/1.5.7/angular-animate.min.js"></script>
<script src="/webjars/angular-ui-bootstrap/2.0.0/dist/ui-bootstrap.js"></script>
<script src="/webjars/angular-ui-bootstrap/2.0.0/dist/ui-bootstrap-tpls.js"></script>
<script src="/webjars/angular-ui-router/0.2.18/angular-ui-router.min.js"></script>
<script src="/webjars/angular-smart-table/2.1.8/dist/smart-table.min.js"></script>

<script src="client/components/main/Main.js"></script>
<script src="client/components/main/controllers/AppMenuController.js"></script>
<script src="client/components/main/services/AppMenuService.js"></script>
<script src="client/components/main/services/EndpointConfigService.js"></script>
<script src="client/components/main/services/UtilsService.js"></script>
<script src="client/components/main/models/PurchasingPartyQueryModel.js"></script>

<script src="client/components/customerorders/data/appdata.js"></script>
<script src="client/components/customerorders/controllers/controllers.js"></script>

<script src="client/components/profile/Profile.js"></script>
<script src="client/components/profile/controllers/ProfileDetailsController.js"></script>

<script src="client/components/purchase/Purchasers.js"></script>
<script src="client/components/purchase/models/ProcurementPlanModel.js"></script>
<script src="client/components/purchase/controllers/PurchasersListController.js"></script>
<script src="client/components/purchase/controllers/ProcurementPlanController.js"></script>
<script src="client/components/purchase/directives/PurchasersView.js"></script>
<script src="client/components/purchase/directives/SearchWatchModel.js"></script>

<script src="client/components/mainApp.js"></script>

</body>
</html>